<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Donaldo Herrera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button size="small" (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>

    <ion-card  class="ion-padding" *ngFor="let item of myArray" color="{{calculateAgeColor(item.age)}}">
      {{item.name}} -
      {{item.email}} -
      {{item.age}}
      <small *ngIf="item.age >= 18">Mayor de edad</small>
    </ion-card>

 
  </div>

  
  <script>
    const controller = document.querySelector('ion-action-sheet-controller');
    const button = document.querySelector('ion-button');
    button.addEventListener('click', handleButtonClick);
    function handleButtonClick() {
      controller.create({
        header: 'Albums',
        buttons: [
          { text: 'Delete', role: 'destructive' },
          { text: 'Share' },
          { text: 'Play' },
          { text: 'Favorite' },
          { text: 'Cancel', role: 'cancel' }
        ]
      }).then(actionSheet => {
        actionSheet.present();
      });
    }
  </script>

  
</ion-content>

